{% extends 'base.html' %}

{% block content %}
<div class="clearfix buttons" id="bootstrap-overrides">
	<a class="btn btn-secondary fw-bold left" id="left" href="{% url 'tripplanner:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-secondary fw-bold right" id="right" href="{% url 'tripplanner:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-secondary right buttons- mr-1" href="{% url 'tripplanner:event_new' %}"> New Event </a>
</div>
{{ calendar }}
{% endblock %}