{% extends 'base.html' %}
{% block content %}
<header class="mb-auto">
<div>
  <h3 class="float-md-start mb-0">Trip Planner</h3>
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" href="#">Features</a>
    <a class="nav-link" href="#">Contact</a>
  </nav>
</div>
</header>
<div class="clearfix buttons" id="bootstrap-overrides">
	<a class="btn btn-secondary fw-bold left" id="left" href="{% url 'tripplanner:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-secondary fw-bold right" id="right" href="{% url 'tripplanner:calendar' %}?{{ next_month }}"> Next Month </a>
</div>
{{ calendar }}
{% endblock %}